.button,
.buttonRed {
  width: 5rem;
  height: 2rem;
  margin: 2px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.8s;
  outline: none;
}

.button:hover {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
}
.buttonRed:hover {
  background-color: var(--alert);
  color: rgb(255, 255, 255);
}
