:root {
  --bg: rgb(27, 27, 27);
  --primary: rgb(112, 34, 202);
  --secondary: #ffffff;
  --alert: rgb(245, 35, 35);
}

html,
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;

  background-color: var(--bg);
}

.title {
  font-size: large;
  font-weight: 700;
  color: var(--primary);
}
