:root {
  --primary: rgb(112, 34, 202);
  --alert: rgb(245, 35, 35);
}

html,
body {
  margin: 0;
  padding: 0;
}

.flexRow {
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-size: large;
  font-weight: 700;
  color: var(--primary);
}
