html,
body {
  margin: 0;
  padding: 0;
}

.flexRow {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.title {
  font-size: large;
  font-weight: 700;
  color: blueviolet;
}

.timer {
  padding: 10px 0px 10px 0px;
  font-size: 25px;
}
